/* .statistics{
border: 1px solid black;
width: 200px;
};

.item {
background-color: teal;
border: 1px solid black;
width:40px ;
height: 40px;
text-align: center;
}

.stat_list{
   display: flex;
   padding: 0; 
} */